# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Documentação
README.md
README_DOCKER.md

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
